* {
  box-sizing: border-box;
}

.fa-server {
  color: white;
  height: 200px;
  text-align: center;
}

body {
  background-color: #1c4669;
  color: #b7acf7;
  margin: 0 auto;
  font-family: 'Source Code Pro', monospace;  
  font-weight: 300;
}